<div class="card">

	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="game-lobby"></template>

	<div class='heading'><%= title(@game_presented) %></div>

  <div class='pad-in'>
  	<%= render partial: 'joined_players' %>

  	<%= join_game_form(game: @game_presented, user: current_user, current_player: @player) %>

  	<%= start_game_form(game: @game_presented, user: current_user) %>
  </div>
</div>