<div class="card">
	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="game-over"></template>

	<div class='heading' align="center">
    <h2><%= @nonogram_presented.hint %></h2>
    <h1><%= @nonogram_presented.name %></h1>
    <h3>by <%= @nonogram_presented.user.present? ? link_to_user(@nonogram_presented.user) : 'unknown' %></h3>
  </div>

  <div class='pad-in'>
  	<% if @solution_grid.present? %>
  	  <%= render partial: 'nonograms/display', locals: {nonogram_grid: @solution_grid, size: @size, nonogram: @nonogram_presented, draw_clues: false} %>
  	<% end %>

    <div align="center">
    	<h4><%= @game_presented.finished_message %></h4>

    	<%= render partial: 'top_players', locals: { nonogram: @nonogram_presented } %>

      <%= content_tag(:div, '', id: 'other-players-attempts') %>
    </div>
  </div>
</div>