<h1> Lobby </h1>

<div>
  Players:
  <ul>
    <% @game.players.each do |joined_player| %>
      <li>
        <%= joined_player.user.name %>
      </li>
    <% end %>
  </ul>
</div>

<% if @player.blank? %>
  <%= render 'join_game_form' %>
<% else %>
  <%= content_tag :div, 'You have joined this game' %>
<% end %>

<div>
  <%= stage_message(game: @game) %>
</div>

<%= render 'start_game_form' if @game.ready_to_play? %>

<div>  
  <%= link_to "Back to index", Game %>
</div>