<template id="game" data-game-id="<%= @game_presented.id %>"></template>
<template id="game-over"></template>

<%= nonogram_description(@nonogram_presented) %>

<% if @solution_grid.present? %>
  <%= render partial: 'nonograms/display', locals: {nonogram: @solution_grid, size: @size, nonogram: @nonogram_presented, draw_clues: false} %>
<% end %>

<h4><%= @game_presented.finished_message %></h4>

<%= render partial: 'top_players', locals: { nonogram: @nonogram_presented } %>

<%= content_tag(:div, '', id: 'other-players-attempts') %>

<%= link_to_main %>