<div class="card">

	<template id="game" data-game-id="<%= @game_presented.id %>"></template>
	<template id="game-lobby"></template>

	<%= title(@game_presented) %>

	<%= render partial: 'joined_players' %>

	<%= join_game_form(game: @game_presented, user: current_user, current_player: @player) %>

	<%= start_game_form(game: @game_presented, user: current_user) %>

	<%= link_to_main %>

</div>