<template id="game" data-game-id="<%= @game.id %>"></template>
<template id="game-over"></template>

<%= content_tag :h2, @nonogram.hint %>
<%= content_tag :h1, @nonogram.name %>

<% if @solution_grid.present? %>
  <%= render partial: 'nonograms/display', locals: {nonogram: @solution_grid, size: @size, draw_clues: false} %>
<% end %>

<h4><%= @game.finished_message %></h4>

<%= render partial: 'top_players', locals: { nonogram: @nonogram } %>

<%= content_tag(:div, '', id: 'other-players-attempts') %>

<%= link_to_main %>