<%= content_tag :h2, @game.nonogram.hint %>
<%= content_tag :h1, @game.nonogram.name %>

<% if @solution.present? %>
  <%= render partial: 'nonograms/display', locals: {nonogram: @solution, size: @size, draw_clues: false} %>
<% end %>

<h4><%= game_finished_message(@game) %></h4>

<%= render 'top_players' %>

<%= content_tag(:div, (render partial: 'other_players_attempts', locals: {player_answers: @player_answers, size: @size, waiting_for_results: Time.now - @game.time_finished < 5}), id: 'other_players_attempts') %>

<%= render 'back_to_index' %>