<template id="game" data-game-id="<%= @game.id %>"></template>
<template id="game-lobby"></template>

<h1> Lobby </h1>

<%= render partial: 'joined_players' %>

<% if @player.blank? %>
  <%= render 'join_game_form' %>
<% else %>
  <%= content_tag :div, 'You have joined this game' %>
<% end %>

<div>
  <%= stage_message(game: @game) %>
</div>

<%= render 'start_game_form' if @game.ready_to_play? && @player.present? %>

<%= render 'back_to_index' %>