<template id="game" data-game-id="<%= @game.id %>"></template>
<template id="game-lobby"></template>

<h1> Lobby </h1>

<%= render partial: 'joined_players' %>

<%= join_game_form(current_player: @player) %>

<div>
  <%= @game.stage_message %>
</div>

<%= start_game_form(game: @game, player: @player) %>

<%= link_to_main %>