<template id="game" data-game-id="<%= @game.id %>"></template>

<h1> Lobby </h1>

<div>
  <h3>Players</h3>
  
  <ul>
    <% @game.players.each do |joined_player| %>
      <li>
        <%= joined_player.user.name %>
      </li>
    <% end %>
  </ul>
</div>

<% if @player.blank? %>
  <%= render 'join_game_form' %>
<% else %>
  <%= content_tag :div, 'You have joined this game' %>
<% end %>

<div>
  <%= stage_message(game: @game) %>
</div>

<%= render 'start_game_form' if @game.ready_to_play? && @player.present? %>

<%= render 'back_to_index' %>