<h1>Choose a <%= "#{@size}x#{@size}" %> Nonogram</h1>

<%= form_tag Game.new do %>
  <%= hidden_field_tag 'size', @size %>
  <div>
    <%= submit_tag 'Use a random nonogram' %>
  </div>
<% end %>

<h2>Or choose one below:</h2>

<ul>
  <% @nonograms.each do |nonogram| %>
    <li>
      <%= link_to nonogram.hint, games_path(size: @size, nonogram: nonogram), method: :post %>
    </li>
  <% end %>
</ul>

<%= will_paginate @nonograms, next_label: '', previous_label: '' %>

<%= link_to_main %>