<template id="log-in"></template>
<div class="card">
  <div class='heading'><h2 class='shift-left'>Log in</h2></div>

  <div class='reg-pad-in'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <div class="pad-out"><%= f.label :email, class: 'pad-out' %></div>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <div class="pad-out"><%= f.label :password %></div>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field pad-out">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: 'button2' %>
      </div>
    <% end %>

    <div class="pad-out"><%= render "devise/shared/links" %></div>
  </div>
</div>