<!-- hidden field for the javascript to store the cell data -->
<%= hidden_field_tag 'cells' %>

<table id="nonogram" align="center" >
  
  <%= render 'column_clues' if draw_clues %>

  <!-- draw the row clues and the board -->
  <% @game.nonogram.size.times do |row| %>
    <tr>
      <% @game.nonogram.size.times do |column| %>

        <!-- have to do the clues for each row first -->
        <% if draw_clues && column == 0 %>
          <%= render partial: 'row_clue', locals: {row: row} %>
        <% end %>

        <!-- a nonogram cell -->
        <%= content_tag(:td, '', class: editable_cell_class(row: row, column: column, nonogram: nonogram), id: "#{row},#{column}") %>
      <% end %>
    </tr>
  <% end %>
</table>
<%= submit_tag 'Check Answer' %>