<!-- hidden field for the javascript to store the cell data -->
<%= hidden_field_tag 'cells' %>

<%= nonogram_color_template(nonogram) %>

<table id="nonogram" data-size="<%= size %>" align="center" >
  
  <%= render partial: 'nonograms/column_clues' if draw_clues %>

  <!-- draw the row clues and the board -->
  <% size.times do |row| %>
    <tr>
      <% size.times do |column| %>

        <!-- have to do the clues for each row first -->
        <% if draw_clues && column == 0 %>
          <%= render partial: 'nonograms/row_clue', locals: {row: row} %>
        <% end %>

        <!-- a nonogram cell -->
        <%= content_tag(:td, '', class: editable_cell_class(row_num: row, column_num: column), id: "#{row}-#{column}") %>
      <% end %>
    </tr>
  <% end %>
</table>