<h1>Edit your new Nonogram</h1>

<%= form_tag Nonogram.new do %>
  <%= hidden_field_tag 'size', @size %>

  <%= render partial: 'interactive', locals: {nonogram: nil, size: @size, draw_clues: false} %>
  
  <div>
    <%= text_field_tag 'name', nil, placeholder: 'Enter a name for the puzzle', required: true %>
  </div>
  
  <div>
    <%= text_field_tag 'hint', nil, placeholder: 'Enter a hint for the puzzle here', required: true %>
  </div>

  <div>
    <%= submit_tag 'Save new Nonogram' %>
  </div>
<% end %>

<%= render partial: 'games/back_to_index' %>