<div class="card">

  <div class="heading">
    <h1>Edit your new Nonogram</h1>
  </div>

  <%= form_tag new_nonogram_path, method: :get do %>
    <%= nonogram_size_dropdown %>
    <%= submit_tag 'Change size' %>
  <% end %>

  <%= form_tag Nonogram.new do %>
    <%= hidden_field_tag 'size', @size %>
    <%= hidden_field_tag 'author_id', current_user.id %>
    <%= hidden_field_tag 'setColor', '#000000' %>

    <div>
      <%= text_field_tag 'name', nil, placeholder: 'Puzzle name', required: true, class: 'nonogram-title-input' %>
    </div>

    <%= render partial: 'interactive', locals: {size: @size, nonogram: nil, draw_clues: false} %>
    
    <div>
      <%= text_field_tag 'hint', nil, placeholder: 'Puzzle hint', required: true, class: 'nonogram-hint-input' %>
    </div>

    <div>
    <%= render partial: 'colors' %>
    </div>

    <div>
      <%= submit_tag 'Save new Nonogram' %>
    </div>
  <% end %>

  <%= link_to_main %>
</div>