<div class="card">

  <div class="heading">
    <h1>Edit your new Nonogram</h1>
  </div>

  <%= render partial: 'new_nonogram_dropdown' %>

  <%= form_tag nonograms_path do %>
    <%= hidden_field_tag 'size', @size %>
    <%= hidden_field_tag 'author_id', current_user.id %>
    <%= hidden_field_tag 'setColor', '#000000' %>

    <div class="nonogram-textfield nonogram-title">
      <%= text_field_tag 'name', nil, placeholder: 'Puzzle name', required: true, class: 'nonogram-title-input' %>
    </div>

    <%= render partial: 'interactive', locals: {size: @size, nonogram: nil, draw_clues: false} %>
    <div>
    <%= render partial: 'colors' %>
    </div>

    <div class="nonogram-textfield">
      <%= text_field_tag 'hint', nil, placeholder: 'Puzzle hint', required: true, class: 'nonogram-hint-input' %>
    </div>

      <div class="nonogram-button">
        <%= submit_tag 'Save' %>
      </div>
  <% end %>
</div>