<div class="navbar">
  <div class="button">
    <%= link_to 'Help', help_path, class: 'link'  %>
  </div>

  <div class="header-title">
    <%= link_to 'N O N O G R A M S', Game, class: 'title' %>
  </div>


  <% if user_signed_in? %>
    <div class="pull-right">
      <div class="button pull-right half-size">
        <%= link_to 'Profile', current_user %>
      </div>

      <div class="button pull-right half-size">
        <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      </div>
    </div>
  <% else %>
    <div class="button pull-right half-size">
      <%= link_to "Sign up", new_user_registration_path %>
    </div>

    <div class="button pull-right half-size">
      <%= link_to "Login", new_user_session_path  %>
    </div>
  <% end %>
</div>
