<div class="navbar"> 
  <div class="help">
    <%= link_to 'help', help_path, class: 'link'  %>
  </div>

  <div class="">
    <%= link_to 'n o n o g r a m s', Game, class: 'title' %>
  </div>


  <div class="login-details">
    <% if user_signed_in? %>

      <div class="name">Logged in as <strong><%= current_user.name %></strong></div>
        
      <div class="options">
        <div class="edit"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'link' %></div>
        <div class="logout"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'link'  %></div>
      </div>
    <% else %>
      <div class="options">
        <div class="edit"><%= link_to "Sign up", new_user_registration_path, :class => 'link'  %></div>
        <div class="logout"><%= link_to "Login", new_user_session_path, :class => 'link'  %></div>
      </div>
    <% end %>
  </div>
</div>