<!DOCTYPE html>
<html>
  <head>
    <title>Nonograms</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Questrial|Arvo' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="page-content">
      <div class="three columns">
        <% if current_user.present? %>
          <%= show_side_nonogram_form(@size) %>
        <% end %>
      </div>

      <div class="five columns">
        <%= yield %>

        <div>
          <%= link_home(current_user) if current_user.present? %>
        </div>
      </div>

      <div class="three columns">
        <% if current_user.present? %>
          <div class="card">
            <%= render 'layouts/chat' %>
            <%= render 'layouts/chat_input' %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
