<!DOCTYPE html>
<html>
  <head>
    <title>Nonograms</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <link href='http://fonts.googleapis.com/css?family=Questrial|Arvo' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= render partial: 'layouts/navbar' %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="page-container">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>

    <%= link_to 'help', help_path %>

  </body>
</html>
