<!DOCTYPE html>
<html>
  <head>
    <title>Nonograms</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='https://fonts.googleapis.com/css?family=Questrial|Arvo' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="page-container">
      <div class="page-content">
      <!-- <div class="chat-text-area  card"> -->
      <div id="chat" class="chat-text-area card well" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
      <!-- </div> -->
        <%= yield %>
      </div>
    </div>

    <%= link_home(current_user) %>
        <%= render 'layouts/chat' if current_user.present? %>
  </body>
</html>
