<!DOCTYPE html>
<html>
  <head>
    <title>Nonograms</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <link href='http://fonts.googleapis.com/css?family=Questrial|Arvo' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <%= render partial: 'layouts/navbar' %>

    <div class="new-nonogram">
      <% if user_signed_in? %>
        <%= render partial: 'nonograms/new_nonogram_form' %>
      <% end %>
    </div>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="page-container">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
